In [1]:
import pandas as pd
import sqlalchemy as alch

from getpass import getpass

In [2]:
aplicaciones = pd.read_csv("datos/aplicaciones.csv", index_col = 0)
continentes = pd.read_csv("datos/continentes.csv", index_col = 0)
paises = pd.read_csv("datos/paises.csv", index_col = 0)
voluntarios= pd.read_csv("datos/voluntarios_unicos.csv", index_col = 0)
arrivals= pd.read_csv("datos/arrivals.csv", index_col = 0)
cursos=pd.read_csv("datos/cursos_teens.csv", index_col = 0)

In [3]:
aplicaciones=aplicaciones.reset_index()

In [4]:
aplicaciones['Age']=aplicaciones['Age'].astype(int)

In [5]:
continentes=continentes.reset_index()
continentes.head(2)

,Nationality,Total,Porcentaje,ISO_Code,Continent,capital_coordinates
0,Morocco,504,1.88,MAR,Africa,"31 32m 2.92092s S, 68 31m 23.079s W"
1,South Africa,333,1.24,ZAF,Africa,"33 58m 11.8391s S, 18 35m 42.256s E"

In [6]:
continentes.dtypes

Nationality             object
Total                    int64
Porcentaje             float64
ISO_Code                object
Continent               object
capital_coordinates     object
dtype: object

In [7]:
continentes.isnull().sum()

Nationality            0
Total                  0
Porcentaje             0
ISO_Code               0
Continent              0
capital_coordinates    0
dtype: int64

In [8]:
paises=paises.reset_index()
paises.head(2)

         Country ISO_Code  M49_Code          Region1 Region2 Continent
0    Afghanistan      AFG         4    Southern Asia     NaN      Asia
1  Åland Islands      ALA       248  Northern Europe     NaN    Europe

In [9]:
paises.dtypes

Country      object
ISO_Code     object
M49_Code      int64
Region1      object
Region2      object
Continent    object
dtype: object

In [10]:
paises.isnull().sum()

Country        0
ISO_Code       0
M49_Code       0
Region1        0
Region2      141
Continent      0
dtype: int64

In [11]:
voluntarios=voluntarios.reset_index()
voluntarios.head(2)

    Age Veteran  Gender     Nationality              Name  Year
0  20.0     Yes    Male         IRELAND  Andrew Rodriguez  2019
1  21.0     Yes  Female  UNITED KINGDOM      Sarah Chavez  2019

In [12]:
voluntarios['Age'].astype(int)
voluntarios.head(2)

    Age Veteran  Gender     Nationality              Name  Year
0  20.0     Yes    Male         IRELAND  Andrew Rodriguez  2019
1  21.0     Yes  Female  UNITED KINGDOM      Sarah Chavez  2019

In [13]:
arrivals=arrivals.reset_index()
arrivals.head(2)

,Course,Birth_Date,Gender,Nationality,Arrival_Medium,Arrival_Company,Arrival_Number,Name
0,La Alberca TEENS-VOLUNTEER 2 WEEKS from 07/02/...,17/06/2004,Male,USA,Plane,Delta Airlines,DL126,Dakota Mcconnell
1,La Alberca TEENS-VOLUNTEER 2 WEEKS from 07/09/...,10/10/2006,Female,USA,Plane,American Airlines,AA94,Rachel Johnson

In [14]:
arrivals.dtypes

Course             object
Birth_Date         object
Gender             object
Nationality        object
Arrival_Medium     object
Arrival_Company    object
Arrival_Number     object
Name               object
dtype: object

In [15]:
arrivals.isnull().sum()

Course             0
Birth_Date         0
Gender             0
Nationality        0
Arrival_Medium     0
Arrival_Company    0
Arrival_Number     0
Name               0
dtype: int64

In [16]:
arrivals['Birth_Date'] = pd.to_datetime(arrivals['Birth_Date'], format='%d/%m/%Y')

In [17]:
cursos=cursos.reset_index()
cursos.head(2)

,Destino,Tipo,Duración,Comienzo,Final,Nombre_completo
0,La Alberca,TEENS,2 WEEKS,07/02/2021,07/16/2021,La Alberca TEENS-VOLUNTEER 2 WEEKS from 07/02/...
1,La Alberca,TEENS,2 WEEKS,07/09/2021,07/23/2021,La Alberca TEENS-VOLUNTEER 2 WEEKS from 07/09/...

In [18]:
cursos.dtypes

Destino            object
Tipo               object
Duración           object
Comienzo           object
Final              object
Nombre_completo    object
dtype: object

In [19]:
cursos['Comienzo'] = pd.to_datetime(cursos['Comienzo'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
cursos['Final'] = pd.to_datetime(cursos['Final'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

In [20]:
cursos.isnull().sum()

Destino            0
Tipo               0
Duración           0
Comienzo           0
Final              0
Nombre_completo    0
dtype: int64

In [21]:
password = getpass("Contraseña de MySQL: ")

In [22]:
# almacenamos el nombre de nuestra BBDD en una variable
db_name = "etl-1"

# creamos la conexipn con MySQL
conexion= f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [23]:
engine = alch.create_engine(conexion)

In [24]:
for index, row in paises.iterrows():
    p_id = (f"""select idpaises from paises where Country = '{row['Country'].replace("'",'')}'""")
    pais_id= engine.execute(p_id)
    if len(list(pais_id)) > 0:
        print('Este pais ya existe')
    # Create a SQL query to insert the data into the "paises" table
    else:
        try:
            engine.execute(f"""
                INSERT INTO paises (Country, ISO_Code, M49_Code, Region1, Region2, Continent) VALUES 
                ('{row['Country']}', '{row['ISO_Code']}', '{row['M49_Code']}', '{row['Region1']}', '{row['Region2']}', '{row['Continent']}');""")
        except:
            engine.execute(f"""
            INSERT INTO paises (Country, ISO_Code, M49_Code, Region1, Region2, Continent) VALUES 
            ('{row['Country'].replace("'",'')}', '{row['ISO_Code']}', '{row['M49_Code']}', '{row['Region1']}', '{row['Region2']}', '{row['Continent']}');""")

In [27]:
for index, row in continentes.iterrows():
    p_id = (f"""select idpaises from paises where Country = '{row['Nationality']}'""")
       
    pais_id= list(engine.execute(p_id))[0][0]
    
    engine.execute(f"""
            INSERT INTO continentes (Nationality, Total , Porcentaje, ISO_Code, Continent, capital_coordinates,paises_idPaises) VALUES
            ("{row["Nationality"]}", "{row["Total"]}", "{row['Porcentaje']}","{row["ISO_Code"]}", "{row["Continent"]}", "{row["capital_coordinates"]}",{pais_id});""")

OperationalError: (pymysql.err.OperationalError) (1364, "Field 'voluntarios_idVoluntarios' doesn't have a default value")
[SQL:
            INSERT INTO continentes (Nationality, Total , Porcentaje, ISO_Code, Continent, capital_coordinates,paises_idPaises) VALUES
            ("Morocco", "504", "1.88","MAR", "Africa", "31 32m 2.92092s S, 68 31m 23.079s W",399);]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
for index, row in voluntarios.iterrows():
    id_ =f"""select idVoluntarios from voluntarios where Name = '{row["Name"]}'"""
    res_id = engine.execute(id_)
    if len(list(res_id)) > 0: 
        print("ya existe")
    else:    
        engine.execute(f"""
            INSERT INTO voluntarios (Age, Veteran , Gender, Nationality,  Name, Year) VALUES
            ("{row["Age"]}", "{row["Veteran"]}", "{row['Gender']}","{row["Nationality"]}", "{row["Name"]}", "{row["Year"]}");""")

In [ ]:
aplicaciones.head(2)
aplicaciones = aplicaciones.rename(columns={'Date_Modified.1': 'Date_Modified1'})

aplicaciones.head(2)

In [ ]:
for index, row in aplicaciones.iterrows():
    id_ =f"""select idVoluntarios from voluntarios where `Name` = '{row["Name"]}'"""
   
    res_id = list(engine.execute(id_))[0][0]
    engine.execute(f"""
            INSERT INTO aplicaciones (Anglo_Status, Date_Modified , Age, Veteran, Gender, Nationality, Request_Status, Date_Modified1, `Name`, `Year`,voluntarios_IdVoluntarios) VALUES
            ('{row["Anglo_Status"]}', '{row["Date_Modified"]}', {row['Age']},"{row["Veteran"]}", "{row["Gender"]}", "{row["Nationality"]}", "{row["Request_Status"]}", "{row["Date_Modified1"]}", "{row["Name"]}","{row["Year"]}",{res_id});""")

In [ ]:
cursos.tail(2)

In [ ]:
for index, row in cursos.iterrows():
    c_id= (f"""select idCursos from cursos where Nombre_completo = '{row['Nombre_completo']}'""")
    cursos_id= engine.execute(c_id)
    if len(list(cursos_id)) > 0:
        print('Este curso ya existe')
        
    else:
        engine.execute(f"""
            INSERT INTO cursos (Destino,Tipo,Duración,Comienzo,Final,Nombre_completo) VALUES 
            ("{row["Destino"]}", "{row["Tipo"]}", "{row['Duración']}","{row["Comienzo"]}", "{row["Final"]}", "{row["Nombre_completo"]}");""")

In [ ]:
paises.head()

In [ ]:
continentes.head(2)

In [ ]:
continentes["Nationality"].unique()

In [ ]:
voluntarios["Nationality"].unique()

In [ ]:
voluntarios.head(2)

In [ ]:
aplicaciones.dtypes

In [ ]:
aplicaciones.isnull().sum()

In [ ]:
paises.tail(2)

In [ ]:
voluntarios.head(2)

In [ ]:
voluntarios.dtypes

In [ ]:
aplicaciones.head(2)

In [ ]:
paises.head(2)

In [ ]:
continentes.head(2)