In [1]:
import pandas as pd
import sqlalchemy as alch

from getpass import getpass

In [2]:
aplicaciones = pd.read_csv("datos/aplicaciones.csv", index_col = 0)
continentes = pd.read_csv("datos/continentes.csv", index_col = 0)
paises = pd.read_csv("datos/paises.csv", index_col = 0)
voluntarios= pd.read_csv("datos/voluntarios_unicos.csv", index_col = 0)
arrivals= pd.read_csv("datos/arrivals.csv", index_col = 0)
cursos=pd.read_csv("datos/cursos_teens.csv", index_col = 0)

In [3]:
aplicaciones=aplicaciones.reset_index()

In [4]:
aplicaciones = aplicaciones.drop(columns=['Course'])
aplicaciones.head(2)

,Anglo_Status,Date_Modified,Age,Veteran,Gender,Nationality,Request_Status,Date_Modified.1,Name,Year
0,Bad feedback,26/01/2022 13:21,20.0,Yes,Male,IRELAND,Cleared,27/02/2019 14:35,Andrew Rodriguez,2019
1,Approved,02/12/2019 10:21,21.0,Yes,Female,UNITED KINGDOM,Cleared,20/03/2019 12:47,Sarah Chavez,2019

In [5]:
aplicaciones['Age']=aplicaciones['Age'].astype(int)

In [6]:
continentes=continentes.reset_index()
continentes.head(2)

,Nationality,Total,Porcentaje,ISO_Code,Continent,capital_coordinates
0,Morocco,504,1.88,MAR,Africa,"31 32m 2.92092s S, 68 31m 23.079s W"
1,South Africa,333,1.24,ZAF,Africa,"33 58m 11.8391s S, 18 35m 42.256s E"

In [7]:
continentes.dtypes

Nationality             object
Total                    int64
Porcentaje             float64
ISO_Code                object
Continent               object
capital_coordinates     object
dtype: object

In [8]:
continentes.isnull().sum()

Nationality            0
Total                  0
Porcentaje             0
ISO_Code               0
Continent              0
capital_coordinates    0
dtype: int64

In [9]:
paises=paises.reset_index()
paises.head(2)

         Country ISO_Code  M49_Code          Region1 Region2 Continent
0    Afghanistan      AFG         4    Southern Asia     NaN      Asia
1  Åland Islands      ALA       248  Northern Europe     NaN    Europe

In [10]:
paises.dtypes

Country      object
ISO_Code     object
M49_Code      int64
Region1      object
Region2      object
Continent    object
dtype: object

In [11]:
paises.isnull().sum()

Country        0
ISO_Code       0
M49_Code       0
Region1        0
Region2      141
Continent      0
dtype: int64

In [12]:
voluntarios=voluntarios.reset_index()
voluntarios.head(2)

    Age Veteran  Gender     Nationality              Name  Year
0  20.0     Yes    Male         IRELAND  Andrew Rodriguez  2019
1  21.0     Yes  Female  UNITED KINGDOM      Sarah Chavez  2019

In [13]:
voluntarios['Age'].astype(int)
voluntarios.head(2)

    Age Veteran  Gender     Nationality              Name  Year
0  20.0     Yes    Male         IRELAND  Andrew Rodriguez  2019
1  21.0     Yes  Female  UNITED KINGDOM      Sarah Chavez  2019

In [14]:
arrivals=arrivals.reset_index()
arrivals.head(2)

,Course,Birth_Date,Gender,Nationality,Arrival_Medium,Arrival_Company,Arrival_Number,Name
0,La Alberca TEENS-VOLUNTEER 2 WEEKS from 07/02/...,17/06/2004,Male,USA,Plane,Delta Airlines,DL126,Dakota Mcconnell
1,La Alberca TEENS-VOLUNTEER 2 WEEKS from 07/09/...,10/10/2006,Female,USA,Plane,American Airlines,AA94,Rachel Johnson

In [15]:
arrivals.dtypes

Course             object
Birth_Date         object
Gender             object
Nationality        object
Arrival_Medium     object
Arrival_Company    object
Arrival_Number     object
Name               object
dtype: object

In [16]:
arrivals.isnull().sum()

Course             0
Birth_Date         0
Gender             0
Nationality        0
Arrival_Medium     0
Arrival_Company    0
Arrival_Number     0
Name               0
dtype: int64

In [17]:
arrivals['Birth_Date'] = pd.to_datetime(arrivals['Birth_Date'], format='%d/%m/%Y')

In [18]:
cursos=cursos.reset_index()
cursos.head(2)

,Destino,Tipo,Duración,Comienzo,Final,Nombre_completo
0,La Alberca,TEENS,2 WEEKS,07/02/2021,07/16/2021,La Alberca TEENS-VOLUNTEER 2 WEEKS from 07/02/...
1,La Alberca,TEENS,2 WEEKS,07/09/2021,07/23/2021,La Alberca TEENS-VOLUNTEER 2 WEEKS from 07/09/...

In [19]:
cursos.dtypes

Destino            object
Tipo               object
Duración           object
Comienzo           object
Final              object
Nombre_completo    object
dtype: object

In [20]:
cursos['Comienzo'] = pd.to_datetime(cursos['Comienzo'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')
cursos['Final'] = pd.to_datetime(cursos['Final'], format='%m/%d/%Y').dt.strftime('%Y-%m-%d')

In [21]:
cursos.isnull().sum()

Destino            0
Tipo               0
Duración           0
Comienzo           0
Final              0
Nombre_completo    0
dtype: int64

In [22]:
password = getpass("Contraseña de MySQL: ")

In [23]:
# almacenamos el nombre de nuestra BBDD en una variable
db_name = "etl-1"

# creamos la conexipn con MySQL
conexion= f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [24]:
engine = alch.create_engine(conexion)

In [ ]:
for index, row in voluntarios.iterrows():
    
    engine.execute(f"""
        INSERT INTO voluntarios (Age, Veteran , Gender, Nationality,  Name, Year) VALUES
        ("{row["Age"]}", "{row["Veteran"]}", "{row['Gender']}","{row["Nationality"]}", "{row["Name"]}", "{row["Year"]}");""")

In [30]:
aplicaciones.head(2)
aplicaciones = aplicaciones.rename(columns={'Date_Modified.1': 'Date_Modified1'})

aplicaciones.head(2)

,Anglo_Status,Date_Modified,Age,Veteran,Gender,Nationality,Request_Status,Date_Modified1,Name,Year
0,Bad feedback,26/01/2022 13:21,20,Yes,Male,IRELAND,Cleared,27/02/2019 14:35,Andrew Rodriguez,2019
1,Approved,02/12/2019 10:21,21,Yes,Female,UNITED KINGDOM,Cleared,20/03/2019 12:47,Sarah Chavez,2019

In [34]:
for index, row in aplicaciones.iterrows():
    
    engine.execute(f"""
        INSERT INTO aplicaciones (Anglo_Status, Date_Modified , Age, Veteran, Gender, Nationality, Request_Status, Date_Modified1, Name, Year) VALUES
        ("{row["Anglo_Status"]}", "{row["Date_Modified"]}", "{row['Age']}","{row["Veteran"]}", "{row["Gender"]}", "{row["Nationality"]}", "{row["Request_Status"]}", "{row["Date_Modified1"]}", "{row["Name"]}","{row["Year"]}");""")

OperationalError: (pymysql.err.OperationalError) (1364, "Field 'voluntarios_idVoluntarios' doesn't have a default value")
[SQL:
        INSERT INTO aplicaciones (Anglo_Status, Date_Modified , Age, Veteran, Gender, Nationality, Request_Status, Date_Modified1, Name, Year) VALUES
        ("Bad feedback", "26/01/2022 13:21", "20","Yes", "Male", "IRELAND", "Cleared", "27/02/2019 14:35", "Andrew Rodriguez","2019");]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [29]:
aplicaciones.tail(2)

,Anglo_Status,Date_Modified,Age,Veteran,Gender,Nationality,Request_Status,Date_Modified.1,Name,Year
90364,New,22/07/2011 12:59,76,No,Male,USA,Rejected by Anglo - Date not Suitable,10/10/2011 11:18,Brandon Raymond,2012
90365,Approved,24/09/2012 14:06,60,No,Female,BRITISH ANTARCTICA TERRITORY,Rejected by Anglo - Date not Suitable,14/10/2011 13:37,Mary Robles,2012

In [26]:
for index, row in continentes.iterrows():
    
    engine.execute(f"""
        INSERT INTO continentes (Nationality, Total , Porcentaje, ISO_Code, Continent, capital_coordinates) VALUES
        ("{row["Nationality"]}", "{row["Total"]}", "{row['Porcentaje']}","{row["ISO_Code"]}", "{row["Continent"]}", "{row["capital_coordinates"]}";""")

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 2")
[SQL:
        INSERT INTO continentes (Nationality, Total , Porcentaje, ISO_Code, Continent, capital_coordinates) VALUES
        ("Morocco", "504", "1.88","MAR", "Africa", "31 32m 2.92092s S, 68 31m 23.079s W";]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [ ]:
aplicaciones.dtypes

Anglo_Status      object
Date_Modified     object
Age                int32
Veteran           object
Gender            object
Nationality       object
Request_Status    object
Date_Modified     object
Name              object
Year               int64
dtype: object

In [ ]:
aplicaciones.isnull().sum()

Anglo_Status      0
Date_Modified     0
Age               0
Veteran           0
Gender            0
Nationality       0
Request_Status    0
Date_Modified     0
Name              0
Year              0
dtype: int64

In [ ]:
paises.tail(2)

In [ ]:
for index, row in paises.iterrows():
    # Create a SQL query to insert the data into the "paises" table
    query = f"INSERT INTO paises (Country, ISO_Code, M49_Code, Region1, Region2, Continent) VALUES ('{row['Country']}', '{row['ISO_Code']}', '{row['M49_Code']}', '{row['Region1']}', '{row['Region2']}', '{row['Continent']}');"
    # Execute the query
    engine.execute(query)

In [ ]:
voluntarios.head(2)

In [ ]:
voluntarios.dtypes

In [ ]:
aplicaciones.head(2)

In [ ]:
paises.head(2)

In [ ]:
continentes.head(2)